{% extends 'base.html' %}
{% load static %}

{% block additional-styles %}
<link rel="stylesheet" href="{% static 'screening_tests/css/style.css' %}" />
<title>EDUCOVID - Hasil Uji Screening</title>
{% endblock additional-styles %}

{% block content %}

<section id="res-main" class="container">
    <div class="row align-items-start">
        <div class="col text-center">
            <h2>Hasil Uji-Screening</h2>
        </div>
    </div>

    <div class="container" id="res-dis">
        <div class="row align-items-center">
            <div class="col mt-3">
                <div class="card text-center text-white {{ card_bg }} mb-5 res-card ">
                    <div class="card-body">
                        <p class="card-text">
                            {% if gejala.score > 60 %} 
                            Anda sangat rentan terjangkit COVID 19. <br> <br>
                            Jangan panik, Tolong segera hubungi rumah sakit rujukan terdekat. Tolong usahakan 
                            menghindari kontak dengan orang lain, tidak keluar rumah, dan selalu gunakan masker.
                            {% elif gejala.score > 30 %}
                            Anda rentan terjangkit COVID 19.  <br> <br>
                            Anda memiliki gejala covid 19. Hubungi rumah sakit rujukan terdekat, untuk 
                            mendiskusikan gejala lebih lanjut. Tolong usahakan menghindari kontak 
                            dengan orang lain, tidak keluar rumah, dan selalu gunakan masker.
                            {% elif gejala.score > 0 %} 
                            Hati-hati anda beresiko terpapar COVID 19. <br> <br>
                            Tolong perhatikan tindakan pencegahan dimanapun anda berada. Gunakan masker 
                            apabila mengalami gejala batuk. Apabila gejala bertambah hubungi dokter/hotline 
                            terdekat.
                            {% else %} 
                            Anda tidak memiliki gejala COVID 19. <br> <br>
                            Walaupun demikian tetaplah melakukan tindakan pencegahan 
                            dan pahami corona lebih lanjut di halaman edukasi kami, 
                            agar kita semua dapat sehat.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if gejala.score > 30 %}
        <div class="text-center">
            <a href="{% url 'rs_rujukan:index' %}" class="btn btn-danger text-white">RS Rujukan</a>
        </div>
    {% endif %}
</section>

{% endblock content %}