.placeholder {
    background-color: #F1FAEE;
    width: 100%;
}

a img {
    max-width: 50px;
}

small {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    margin-left: 5px;
    color: #457B9D;
}

a {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #457B9D !important;
}

footer {
    background-color: #1D3557;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #457B9D;
}

.container-fluid.text-center.text-md-center {
    font-size: 30px;
}

.footer-copyright.text-center.py-3 {
    font-size: 12px;
}

